
.form-gal{
    margin-top: 80px;
}

.form-control{
    margin-top: 30px;
    margin-bottom: 30px;
}

.registerBtn{
    margin-top: 20px;
}

.footerBanner{
    margin-top: 80px;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
    color: white;
}

.footerText{
    margin-top: 30px;
    text-align: center;
}
